:root{
    --light-primary: #F0F8FF;
    --light-secondary: #212529;
    --dark-primary: #212529;
    --dark-secondary:#F0F8FF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity:1;
        transform:translateY(0);
    }
}

#heading{
    padding-right: 60%;
}

.mainArea{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--light-primary);
    font-family: Roboto Slab, serif;
}

.landing{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: var(--light-primary);
    color: var(--light-secondary);
    padding: 2% 5% 2% 5%;
    transition: background-color 0.5s ease;
}

.toggle-btn{
    background-color: var(--dark-primary);
    color: var(--dark-secondary);
    width:150px;
    padding:7px 15px 7px 15px;
    border: 1px solid white;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin:2rem;
    height:2.3rem;
    
}

.toggle-btn:hover{ 
    transform: scale(1.05);
}

.cardContainer{
    width:80%;
    align-self: center ;
    height: 40vh;
    height:auto;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-between;
    align-items: center;
    margin:2% 0 2% 0;
    gap: 20px;
    animation: transitionIn 0.75s;
}

.card{
    width:98%;
    display: flex;
    justify-content: space-around;
    
    padding:5%;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: start;
    width:50%;
}

h1{
    font-size: 300%;
    font-weight:500;
    padding: 0.3rem 1rem 0 0;
    line-height: 1.2em;
}

h1:hover{
    transform: scale(1.04);
}

h3{
    font-size:23px;
    font-weight:400;
    padding: 1.5rem 0 0.3rem 0;
    margin: 0.2rem 0;
    color:grey;
}
 
#heading{
    text-align: left;
}

.img{
    width :70%;
    height: 100%;
}

.img>img{
    height: 100%;
    width:100%;
    background-size: auto;
    transition: transform 1.5s ease;
    padding-left: 1.2rem;
}

.img>img:hover{
    transform: rotateY(360deg);
}

#anchor{
    text-decoration: none;
    font-weight: 800;
    text-align:center;
    font-size: 22px;
}

@media only screen and (max-width: 768px) {
    #heading {
        padding-right: 20%;
    }
    
    .cardContainer {
        width: 90%;
    }
    
    .content {
        width: 80%;
    }
    
    .img {
        width: 80%;
        padding-top: 1%;
    }
}

@media screen and (max-width: 768px) {
    #heading {
        padding-right: 0;
    }

    .cardContainer {
        width: 90%;
    }

    .card {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .content {
        width: 90%;
    }

    h1 {
        font-size: 250%;
    }

    h3 {
        font-size: 20px;
    }

    .toggle-btn {
        width: 120px;
        height: 4rem;
        font-size: 16px;
        padding: 5px 10px;
    }

    .img {
        padding-top: 2%;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 200%;
    }

    h3 {
        font-size: 18px;
    }

    .toggle-btn {
        width: 100px;
        height: 1.8rem;
        font-size: 14px;
        padding: 4px 8px;
    }

    .img {
        padding-top: 2%;
    }
}
